@font-face{
  font-family: TrajanPro;
  src: url("./font/TrajanPro.ttf") format('truetype');
  font-weight: 100;
}

*{
  margin: 0; 
  padding: 0;
  font-family: TrajanPro, Sans-Serif;
  font-weight: 100;
}

body{
  background-color: #445151;
  font-family: "Cinzel", Sans-Serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}  

.tudo{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cabecalho{
  width: 10%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho img{
  width: 230px;
  border-radius: 100%;
}

.espaco{
  padding: 70%;
}

.barra-pesquisa{
  width: 100%;
  padding: 0px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesuisa{
 background-color: #747574;
 color: #000;
 width: 360px;
 height: 55px;
 border-radius: 100px;
 border: 0;
}

.cabecalho a{
  display: flex;
  color: #000;
  padding: 10px;
  text-decoration: none;
}

.barra{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1{
  width: %;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.box{
 width: 100%;
 background-color: lue;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0%;
  border: 5px;
}

.container h1{
  font-size: 120px;
}

.container2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 a{
  font-size: 20px;
  color: white;
}

.gmail{
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.gmail a{
  font-size: 15px;
  text-decoration: none;
  color: #000;
}

@media (min-width: 576px) and (max-width: 767.98px){
  body{
  background-colo: blue;
  }
  
  .cabecalho img{
  width: 80px;
  border-radius: 100%;
  }
  
  .cabecalho a{
  display: flex;
  color: #000;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  }
  
  .container h1{
  font-size: 95px;
 }
 
 .container2 a{
  font-size: 15px;
  color: white;
 }
}

@media (min-width: 768px) and (max-width: 991.98px){
  body{
  background-colo: red;
  }
  
  .cabecalho img{
  width: 120px;
  border-radius: 100%;
  background-colo:#00ccb9;
  }
  
  .cabecalho a{
  display: flex;
  color: #000;
  font-size: 25px;
  padding: 15px;
  text-decoration: none;
  }
  
  .container h1{
  font-size: 115px;
 }
 
 .container2 a{
  font-size: 20px;
  color: white;
 }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  body{
  background-colo: green;
  }
  
  .cabecalho img{
  width: 160px;
  border-radius: 100%;
  background-colo:#00ccb9;
  }
  
  .cabecalho a{
  display: flex;
  color: #000;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
  }
  
  .container h1{
  font-size: 135px;
  }
  
  .containr2 a{
  font-size: 25px;
  color: white;
 }
}

@media (min-width: 1200px) and (max-width: 1399.98px){
  body{
  background-colo: white;
  }
  
  .cabecalho img{
  width: 200px;
  border-radius: 100%;
  }
  
  .cabecalho a{
  display: flex;
  color: #000;
  font-size: 35px;
  padding: 10px;
  text-decoration: none;
  }
  
  .container h1{
  font-size: 155px;
 }
 
 .container2 a{
  font-size: 25px;
  color: white;
 }
}

@media (min-width: 1400px){
  body{
  background-colo: purple;
  }
  
  .cabecalho img{
  width: 240px;
  border-radius: 100%;
  background-colo:#00ccb9;
  }
  
  .cabecalho a{
  display: flex;
  color: #000;
  font-size: 40px;
  padding: 10%;
  text-decoration: none;
  }
  
  .container h1{
  font-size: 175px;
 }
 
 .container2 a{
  font-size: 20px;
  color: white;
 }
 
 .gmail{
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
 }
}
